:root {
    --ss-light-green: #ccffcc;
    --ss-medium-green: #40bf40;
    --ss-dark-green: #008000;
    --ss-teal: #00aaaa;
    --ss-light-teal: #00cccc;
    --ss-orange: #cc6600;
    --ss-gray: #999999;
    --ss-light-gray: #dddddd;
}

.App {
    text-align: center;
}

.App-logo {
    height: 2em;
    vertical-align: middle;
}

.App-header {
    background-color: var(--ss-medium-green);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.App-footer {
    background-color: black;
    color: white;
    min-height: 100px;
    max-height: 100%;
    width: 100%;
    bottom: 0;
    text-align: left;
}

.App-header-contents {
    bottom: 10;
}

.App-link {
    color: #09d3ac;
}

/* Style for search bar, source: https://www.w3schools.com/howto/howto_css_searchbar.asp */
.Search-bar{
    float: none;
    white-space: nowrap;
    min-width: 300px;
}

.Search-bar input[type=text]{
    color: var(--ss-gray);
    background-color: white;
    padding: 6px 10px;
    margin-top: 8px;
    font-size: 17px;
    /*float: left;*/
    border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
}

.Search-bar button{
    /*float: right;*/
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    color: white;
    background: var(--ss-light-teal);
    font-size: 17px;
    border: 1px solid black;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

/* Columns and rows from w3schools.com */
.column {
    float: left;
    width: 20%;
}

.row {
    content: "";
    display: table;
    clear: both;
    margin: 0px;
    padding: 0px;
    height: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}

/* Floating boxes on home screen */
.floatingBox {
    display: table-cell;
    width: 30%;
    max-height: inherit;
    margin: 10px;
    padding: 10px;
    vertical-align: text-top;
    background-color:var(--ss-light-gray);
    border-radius: 10px;
}

.floatingBox2 {
    display: inline-block;
    width: 30%;
    height: 100%;
    margin: 1%;
    padding: 10px;
    vertical-align: text-top;
    background-color: white;
    border-radius: 10px;
}


/***************************** Admin Home Page  ****************************/
.AppAdmin{
    height: 100vh;
    max-height: 100%;
    min-height: 100%;
    min-width: 20%;
    background-color: #e0e0e0;
    overflow: hidden;
}

.App-logo2 {
    height: 3em;
    vertical-align: middle;
}

.AddminHomeHeader {
    background-color : #1a6631;
    color: rgb(231, 231, 231);
    text-align: right;
    font-size: 20px;
    padding : 20px;
}


/* NAVBAR - references : https://www.w3schools.com/css/css_navbar.asp */
.nav {
    list-style-type: none;
    margin : 0px;
    padding: 0px;
    background-color: #232323;
    height: 100%;
    width: 260px;
    float: left;
    font-size: 17px;
    text-align: center;
    overflow: auto;
}

.nav a {
    display: inline-block;
    color: whitesmoke;
    padding: 20px 0px 20px 0px;
    text-decoration: none;
    width: 100%;
}

.nav a:hover:not(.active) {
    background-color: var(--ss-dark-green);
}

.active {
    background-color: var(--ss-dark-green);
}

/************ END NAVBAR ************/
/***************Buttons**************/


button::-moz-focus-inner {
    border: 0;
}

button:focus {
    outline:none;
}

.button {
    border: none;
    border-style: none;
    border-radius: 20px;
    margin-top: 30px;
    height: 30px;
    padding: 0px 10px 0px 10px;
    margin-right: 15px 0 10px 0px;
    font-size: 16px; ;
    /* -webkit-transition-duration: 0.2s; 
    transition-duration: 0.2s;    */
}

.button-yellow {
    background-color: #fdd835;
    color: white;
}

.button-yellow:hover {
    background-color: #b69504;
    color:whitesmoke;
    box-shadow: 3px 10px 20px -7px rgba(0,0,0,0.19), 0 10px 20px 0 rgba(0,0,0,0.14);
}

.button-yellow:active {
    background-color: #997d00;
    color:whitesmoke;
}


.button-red {
    background-color: #e53935;
    color: whitesmoke;
}

.button-red:hover {
    background-color: #b81d1a;
    color: whitesmoke;
    box-shadow: 3px 10px 20px -7px rgba(0,0,0,0.19), 0 10px 20px 0 rgba(0,0,0,0.14);
}

.button-red:active {
    background-color: #962321;
    color:whitesmoke;
}


.button-green {
    background-color: #1a6631;
    color: whitesmoke;
}

.button-green:hover {
    background-color: var(--ss-medium-green);
    color: whitesmoke;
    box-shadow: 3px 10px 20px -7px rgba(0,0,0,0.19), 0 10px 20px 0 rgba(0,0,0,0.14);
}

.button-green:active {
    background-color: #4d964d;
    color:whitesmoke;
}


/**** END BUTTONS ****/
/* FLEX AREA references 
- https://www.w3schools.com/css/css3_flexbox.asp               
- https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container
*/

.flex-view {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-view > div {
    height: 250px;
    width: 300px;
    background-color: whitesmoke;
    margin: 50px 20px 0px 10px;
    padding: 5px;
    font-size: 17px;
    text-align: center;
    box-shadow: 3px 10px 20px -7px rgba(0,0,0,0.19), 0 10px 20px 0 rgba(0,0,0,0.14);
}

.viewdisplay {
    font-family: "Helvetica Neue", "Arial", sans-serif;; 
    font-size: 50px;
}


/***************************** Table component  ****************************/
/***************************** Admin Login Page  ****************************/

/* Hoping to add background color Somehow */
.AdminBackground {
    text-align: center;
    min-height: 90vh;
    background-color: whitesmoke;
}


.App-header-login {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    margin-bottom: -20px;
    padding-top: 3%;
    color: black;
}


.flatButton {
    border-style: none;
    border-radius: 20px;
    background-color:#cadcfa ;
    min-width: 200px;
    max-width: 100%;
    height: 40px;
    margin-top: 30px;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 18px; 
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;   
}


/* https://www.w3schools.com/css/css3_buttons.asp */
.flatButton:hover {
    background-color:#b6ebdb;
    color: var(--ss-dark-green);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.19), 0 17px 50px 0 rgba(0,0,0,0.14);
}


.admininput {
    border-style: none;
    border-radius:6px;
    background-color: white;
    min-height: auto;
    height: 30px;
    max-width: 50%;
    min-width: 20%;
    width: 400px;
    color: var(--ss-gray);
    padding: 10px;
    margin-top: 10px;
    font-size: 17px;
    border-bottom: 2px solid #ebebeb;
    transition-duration: 0.2s;   
}

.admininput:hover {
    color: black;
}

.forgotpassword {
    color: #bbbbbbe5;
    font-size: 15px;
    font-family: 'Trebuchet MS';
}


.forgotpassword:hover {
    color: rgb(124, 124, 124);
}
