:root {
    --ss-pale-green: #b6ebdb;
    --ss-light-green: #77ffa0;
    --ss-medium-green: #07bd65;
    --ss-dark-green: #06904d;
    --ss-light-teal: #09d3ac;
    --ss-teal: #00aaaa;
    --ss-orange: #cc6600;
    --ss-light-gray: #dddddd;
    --ss-gray: #999999;
    --ss-dark-gray: #232323;
    --ss-dark-medium-gray: #303030;
    --ss-light-blue: #35dfe5;
    --ss-red: #b81d1a;
    --ss-dark-red: #962321;
    --ss-light-gold: #fdd835;
    --ss-gold: #b69504;
    --ss-dark-gold: #997d00;
    --ss-light-light-gray: #e0e0e0;
    --ss-off-black: #161816;
}

.App {
    text-align: center;
    height: 100%;
}


.App-logo {
    height: 2em;
    vertical-align: middle;
}

.App-tip {
    background:white;
    width: 60px;
}


.carouselContainer {
    opacity: 95%;
    width: 60%;
    max-width: 600px;
    padding-bottom: 4%;
    position: relative;
    margin: auto;
}

.carouselContainer:hover{
    opacity: 100%;
}

@media only screen and (max-width: 1200px) {
    .carouselContainer {
        width: 78%;
    }
}
hr.new1 {
    color: var(--ss-dark-medium-gray);
    border-top: 1px solid;
    margin: 0px 40px 20px 40px;
    opacity: 50%;

}

#scholarScrapeDescription {
    position: relative;
    width: 65%;
    margin:auto;
    border-radius: 2px;
    height: 100%;
    bottom: 330px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.19), 0 17px 50px 0 rgba(0,0,0,0.14);
    /* background-color: whitesmoke; */
}

p.howto {
    padding-top: 10px;
    opacity: 80%;
    font-size: 20px;
    color: var(--ss-off-black)
}

.howto2 {
    font-size: 17px;
    opacity: 80%;
    color: white;
}


.App-header {
    background-color: var(--ss-medium-green);
    min-height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.App-footer {
    background-color: var(--ss-off-black);
    color: white;
    width: 100%;
    bottom: 0px !important;
    height: 75px !important;
    text-align: left;
}

.App-header-contents {
    bottom: 10;
}

.App-link {
    color: var(--ss-light-teal);
}

/* Style for search bar, source: https://www.w3schools.com/howto/howto_css_searchbar.asp */
.Search-bar{
    float: none;
    white-space: nowrap;
    min-width: 300px;
}

.Search-bar input[type=text]{
    color: var(--ss-gray);
    background-color: white;
    padding: 6px 10px;
    margin-top: 8px;
    font-size: 17px;
    /*float: left;*/
    border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
}

.Search-bar button{
    /*float: right;*/
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    color: white;
    background: var(--ss-light-teal);
    font-size: 17px;
    border: 1px solid black;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.Search-bar-wide{
    float: none;
    white-space: nowrap;
    margin: auto;
    width: 96%;
}

.Search-bar-wide input[type=text]{
    color: var(--ss-gray);
    background-color: white;
    padding: 6px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 0px;
    font-size: 17px;
    float: left;
    border: 1px solid black;
    border-radius: 5px;
    min-width: 90%;
}

.Search-bar-wide button{
    /*float: right;*/
    padding: 6px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 0px;
    color: white;
    background: var(--ss-light-teal);
    font-size: 17px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    min-width: 6%;
}

/* Columns and rows from w3schools.com */
.column-20 {
    float: left;
    width: 20%;
    box-sizing: border-box;
}

.column-5 {
    float: left;
    width: 5%;
    box-sizing: border-box;
}

.column-30 {
    float: left;
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px !important;
}

.column-70 {
    float: left;
    width: 70%;
    box-sizing: border-box;
    padding: 0px 30px 0px 30px;
}

.column-50 {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 30px;
}

.row {
    content: "";
    display: table;
    clear: both;
    margin: 0px;
    padding: 0px;
    height: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}

.row-flex {
    display: flex;
    min-height: calc(100vh - 464px); /*exact height to sit the footer at the bottom of the page*/
}

/* Form styles for Search page */
.form-inline {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline label {
    margin: 5px;
    width: 100%;
    box-sizing: border-box;
}

.form-inline input, select { /*TO DO: make numbers look less horrible*/
    vertical-align: middle;
    margin: 5px;
    float: right;
    width: 50%;
    box-sizing: border-box;
}

/* Floating boxes on home screen */
.floatingBox {
    display: table-cell;
    width: 30%;
    max-height: inherit;
    margin: 10px;
    padding: 10px;
    vertical-align: text-top;
    background-color:var(--ss-light-gray);
    border-radius: 10px;
}

/**************** Meet the team section ****************/

.meetTheTeam {
    padding: 10px 50px 100px 0px;
    position: relative;
    height: 100%;
    background: var(--ss-medium-green)
}

.usericon {
    color: var(--ss-off-black);
    margin: 30px;
    font-size: 4em;
}

.divteamSize {
    height: 100%;
    padding: 20px 50px 20px 0px;
    width: 60%;
    /*border-radius: 8px;*/
    background-color: whitesmoke;
    box-shadow: 0 12px 16px 0 rgba(70, 70, 70, 0.4), 0 17px 50px 0 rgba(0,0,0,0.14);
}

.userdescText {
    font-size: 16px;
    min-width: 350px;
    position: absolute;
    display: none;
    text-align: left;
    overflow: hidden;
    z-index: 500;
    left: 60%;
    transition: .5s;
}

.userdesc {
    height : 200px;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
    padding: 10px;
    display: none;
    transition: .5s;
}

.dot {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.19), 0 17px 50px 0 rgba(0,0,0,0.14);
    opacity: 90%;
    height: 200px;
    min-height: 10%;
    width: 200px;
    /* background-color: var(--ss-medium-green); */
    border-radius: 50%;
    display: inline-block;
    margin: 10px 20px 10px 20px;
    transition: .5s;
}

.container {
    float: left;
}

.container:hover .userdescText{
    display: block;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.19), 0 17px 50px 0 rgba(0,0,0,0.14);
}


.dot:hover{
    transform: scale(1.15);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.19), 0 17px 50px 0 rgba(0,0,0,0.14);
    opacity: 100%;
    background-color: whitesmoke;
}



@media only screen and (max-width: 1300px) {
    .divteamSize {
        padding: 10px 20px 0px 5px;
        width: 70%;
    }

    .meetTheTeam {
        padding: 10px 50px 100px 0px;
    }
}



.floatingBox3-inactive { /* Used in results page */
    /*sizing and placement*/
    float: left;
    width: 100%;
    height: 150px;
    overflow: hidden;
    min-height: 50px;
    max-height: 150px;
    margin: 10px;
    padding: 10px 30px 30px 30px;
    box-sizing: border-box;
    /*text alignment*/
    vertical-align: text-top;
    text-align: left;
    word-wrap: break-word;
    overflow: hidden;
    /* aesthetic */
    color: black;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px black;
}

.floatingBox3-active { /* Used in results page */
    /*sizing and placement*/
    float: left;
    width: 100%;
    min-height: 150px;
    margin: 10px;
    padding: 10px 30px 30px 30px;
    box-sizing: border-box;
    /*text alignment*/
    vertical-align: text-top;
    text-align: left;
    word-wrap: break-word;
    overflow: hidden;
    /* aesthetic */
    color: black;
    background-color: white;
    box-shadow: 0px 0px 0px 2px var(--ss-medium-green);
    border-radius: 5px;
}


/* Adding some cool floating caps. Currently not working :( */
.cap {
    background-color: var(--ss-light-gold);
    position: absolute;
    width: 200px;
    opacity: 30%;
    animation: shimmy 5s infinite;
    animation-direction: alternate;
}

@keyframes shimmy {
    0% {
      transform: translate(20px, 60px);
    }
    100% {
      transform: translate(20px, 1000px) rotate(-180deg, 180deg);
    }
}


@media only screen and (max-width: 950px) {
    .dot {
        height: 150px;
        min-height: 10%;
        width: 150px;
        margin-left: 0px 0px 20px 10px;
        /* display: inline-block; */
    }

    .usericon {
        font-size: 3em;
    }

    .userdescText {
        font-size: 12px;
        min-width: 150px;
        left: 60%
    }

    .userdescContainer {
        width: 200px;
    }


    .userdesc {
        width: 200px;
    }
}




/***************************** Admin Home Page  ****************************/
.AppAdmin{
    max-height: 100%;
    min-height: 100%;
    min-width: 20%;
    background-color: var(--ss-light-gray);
    overflow: hidden;
}

.App-logo2 {
    height: 3em;
    vertical-align: middle;
}

.AddminHomeHeader {
    background-color : var(--ss-dark-green);
    color: var(--ss-light-gray);
    text-align: right;
    font-size: 20px;
    padding : 20px;
}


/********************* Navigation bar AdminHome ********************/

/*
- references : https://www.w3schools.com/css/css_navbar.asp
*/

.nav {
    list-style-type: none;
    margin : 0px;
    padding: 0px;
    background-color: var(--ss-dark-gray);
    height: 100%;
    width: 260px;
    float: left;
    font-size: 17px;
    text-align: center;
    overflow: auto;
}

.nav a {
    display: inline-block;
    color: whitesmoke;
    padding: 20px 0px 20px 0px;
    text-decoration: none;
    width: 100%;
    outline: none;
}

.nav a:hover:not(.active) {
    background-color: var(--ss-dark-green);
}

.active {
    background-color: var(--ss-dark-green);
}

/********************** Buttons AdminHome *********************/

button::-moz-focus-inner {
    border: 0;
}

button:focus {
    outline:none;
}

.button {
    border: none;
    border-style: none;
    border-radius: 20px;
    height: 30px;
    padding: 0px 10px 0px 10px;
    margin-right: 15px 0 10px 0px;
    font-size: 17px; ;
    bottom:0;
    /* -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;   */
}

.button-yellow {
    background-color: var(--ss-light-gold);
    color: white;
}

.button-yellow:hover {
    background-color: var(--ss-gold);
    color:whitesmoke;
    box-shadow: 3px 10px 20px -7px rgba(0,0,0,0.19), 0 10px 20px 0 rgba(0,0,0,0.14);
}

.button-yellow:active {
    background-color: var(--ss-dark-gold);
    color:whitesmoke;
}


.button-red {
    background-color: var(--ss-red);
    color: whitesmoke;
}

.button-red:hover {
    background-color: var(--ss-red);
    color: whitesmoke;
    box-shadow: 3px 10px 20px -7px rgba(0,0,0,0.19), 0 10px 20px 0 rgba(0,0,0,0.14);
}

.button-red:active {
    background-color: var(--ss-dark-red);
    color:whitesmoke;
}


.button-green{
    background-color: var(--ss-dark-green);
    color: whitesmoke;
}

.button-green:hover {
    background-color: var(--ss-medium-green);
    color: whitesmoke;
    box-shadow: 3px 10px 20px -7px rgba(0,0,0,0.19), 0 10px 20px 0 rgba(0,0,0,0.14);
}

.button-green:active {
    background-color: var(--ss-dark-green);
    color:whitesmoke;
}


/************** Flex area for AdminHome ************************/

/*
- References:
- https://www.w3schools.com/css/css3_flexbox.asp
- https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container
*/

.flex-view {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: scroll;
}

.flex-view > div {
    height: 250px;
    width: 300px;
    background-color: whitesmoke;
    margin: 2%;
    padding: 5px;
    font-size: 17px;
    text-align: center;
    box-shadow: 3px 10px 20px -7px rgba(0,0,0,0.19), 0 10px 20px 0 rgba(0,0,0,0.14);
}

.flex-view > span{
    margin: 2%;
    width: 70%;
    height: 1000px;
    overflow: auto;
    background-color: whitesmoke;
    margin-top: auto;
    padding: 5px;
    font-size: 17px;
    box-shadow: 3px 10px 20px -7px rgba(0,0,0,0.19), 0 10px 20px 0 rgba(0,0,0,0.14);
}

.flex-view > p{
    margin: 2%;
}

.viewdisplay {
    font-family: "Helvetica Neue", "Arial", sans-serif;;
    font-size: 50px;
}


/***************************** Admin Login Page  ****************************/

/* Hoping to add background color Somehow */
.AdminBackground {
    text-align: center;
    background-color: whitesmoke;
    height: 100vh;
    max-height: 100%;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}


.App-header-login {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(16px + 2vmin);
    margin-bottom: -20px;
    padding-top: 3%;
    color: black;
}


.flatButton {
    border-style: none;
    border: none;
    border-radius: 20px;
    background-color: var(--ss-light-green) ;
    min-width: 180px;
    max-width: 100%;
    height: 40px;
    margin-top: 30px;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 17px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


/* https://www.w3schools.com/css/css3_buttons.sp */
.flatButton:hover {
    background-color:#b6ebdb;
    color: var(--ss-dark-green);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.19), 0 17px 50px 0 rgba(0,0,0,0.14);
}


.admininput {
    border-style: none;
    border-radius:6px;
    background-color: white;
    min-height: auto;
    height: 30px;
    max-width: 50%;
    min-width: 20%;
    width: 400px;
    color: var(--ss-gray);
    padding: 5px;
    margin-top: 10px;
    font-size: 17px;
    border-bottom: 2px solid var(--ss-light-light-gray);
    transition-duration: 0.2s;
}

.admininput:hover {
    color: black;
}

.forgotpassword {
    color: var(--ss-gray);
    font-size: 15px;
    font-family: 'Trebuchet MS';
}


.forgotpassword:hover {
    color: var(--ss-gray);
}

.recaptchaDiv{
    margin: auto;
    width: 310px;
    height: 100px;
    text-align: center;
}

.recaptchaSubmit{
    margin: auto;
    width: 310 px;
    float: right;
}


/******************** App Page Navigation **************************/
/* NAVBAR - references : https://www.w3schools.com/css/css_navbar.asp */

.nav2 {
    list-style-type: none;
    padding: 0px 5% 0px 0px;
    height: 100%;
    width: 100%;
    font-size: 25px;
    box-sizing: border-box;
    text-align: right;
    background-color: var(--ss-off-black);
}

.nav2 a {
    display: inline-block;
    color: var(--ss-dark-green);
    padding: 15px 7px 15px 7px;
    text-decoration: none;
    text-align: center;
    width: 35px;
    outline: none;
}

.nav2 a:hover {
    color: white;
}

.nav2 a:active {
    color: var(--ss-light-light-gray);
}


/*****************SUBMISSION PAGE********************/

.SubmissionBackground {
    background-image: linear-gradient( rgb(133, 255, 164, .5), rgb(202,220,240, .8));
    height: 100vh;
    max-height: 100%;
    min-height: 100%;
    width: 100%;
    padding-top: 3%;
    overflow: hidden;
}

.title {
    text-align: left;
    padding: 0px 0px 0px 16%;
    font-size: calc(13px + 2vmin);
    color: rgb(32, 32, 32);
}

.submissionDiv {
    text-align: left;
    height: 70%;
    width: 65%;
    padding: 30px 40px 30px 40px;
    background-color: whitesmoke;
    margin: auto;
    border-radius: 20px;
    box-shadow: 10px 30px 70px -7px rgba(0,0,0,0.20), 7px 5px 10px 0 rgba(0,0,0,0.14);
}

.row2{
    display: flex;
}

.row3{
    display: flex;
    float: left;
    /* height: 200px; */
    width: 100%;
    background-color: whitesmoke;
}

.column {
    flex: 50%;
    width: 100%;
    padding: 10px;
    height: 100%;
    border-radius: 14px;
    background-color: whitesmoke;
}

.columnBottom {
    text-align: left;
    /* padding: 10px; */
    height: 100px;
    border-radius: 14px;
    background-color: whitesmoke;
    width: 100%;
}

.admininput2 {
    border-style: none;
    border-radius:6px;
    width: 90%;
    background-color: white;
    height: 30px;
    color: var(--ss-gray);
    font-size: 17px;
    border-bottom: 2px solid #ebebeb;
    transition-duration: 0.2s;
    padding: 0px 0px 0px 5px;
    margin: 1%;
}

textarea {
    line-height: 15px;
    resize:none;
    overflow:none;
    height: 100%;
    width: 95%;
}

.admininput2:hover {
    color: black;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    height: 20px;
    /* word-break: break-all; */
    overflow: auto;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
